<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ _('Alteração de Usuário') }}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <style>
       .header {
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 20px;
       }
       .language-selector img {
           cursor: pointer;
           width: 30px;
           height: 20px;
           margin-left: 10px;
       }
       .language-selector {
           margin-right: 30px;
       }
   </style>
</head>
<body>
   <main>
       <div class="container">
           <h1>{{ _('Alteração de Usuário') }}</h1>
           <div class="language-selector">
               <!-- Links para troca de idioma -->
               <a href="{{ url_for('alteracao') }}?lang=en">
                   <img src="{{ url_for('static', filename='images/eua.png') }}" alt="{{ _('English') }}">
               </a>
               <a href="{{ url_for('alteracao') }}?lang=es">
                   <img src="{{ url_for('static', filename='images/spain.png') }}" alt="{{ _('Español') }}">
               </a>
               <a href="{{ url_for('alteracao') }}?lang=pt_BR">
                   <img src="{{ url_for('static', filename='images/brasil.png') }}" alt="{{ _('Português') }}">
               </a><br><br>
           </div>
           <form id="alteracaoForm">
               <label for="userId">{{ _('ID do Usuário') }}</label><br>
               <input type="text" id="userId" name="userId" placeholder="{{ _('Digite o ID do usuário') }}" required><br>

               <label for="email">{{ _('Login (e-mail)') }}</label><br>
               <input type="email" id="email" name="email" placeholder="{{ _('Digite o novo e-mail (opcional)') }}"><br>

               <label for="senha">{{ _('Senha') }}</label><br>
               <input type="password" id="senha" name="senha" placeholder="{{ _('Digite a nova senha (opcional)') }}"><br>

               <label for="nome">{{ _('Nome Completo') }}</label><br>
               <input type="text" id="nome" name="nome" placeholder="{{ _('Digite o nome completo') }}" required><br>

               <label for="status">{{ _('Status') }}</label>
               <select id="status" name="status" required>
                   <option value="">{{ _('Selecione um status') }}</option>
                   <option value="1">{{ _('Ativo') }}</option>
                   <option value="0">{{ _('Inativo') }}</option>
               </select><br><br>

               <button type="submit">{{ _('Alterar') }}</button>
           </form>
           <p>{{ _('Deseja voltar?') }} <a href="/pagina_final">{{ _('Clique para voltar à página principal') }}</a></p>
       </div>
   </main>
</body>
</html>