<!DOCTYPE html>
<html lang="{{ get_locale() }}">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ _('Cadastro') }}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <style>
       .header {
           display: flex;
           justify-content: space-between;
           align-items: center;
           padding: 20px;
       }
       .language-selector img {
           cursor: pointer;
           width: 30px;
           height: 20px;
           margin-left: 10px;
       }
       .language-selector {
           margin-right: 30px;
       }
   </style>
</head>
<body>
<main>
   <div class="container">
       <h1>{{ _('Cadastro') }}</h1>
       <div class="language-selector">
           <a href="{{ url_for('cadastro', lang='en') }}">
               <img src="{{ url_for('static', filename='images/eua.png') }}" alt="{{ _('English') }}">
           </a>
           <a href="{{ url_for('cadastro', lang='es') }}">
               <img src="{{ url_for('static', filename='images/spain.png') }}" alt="{{ _('Español') }}">
           </a>
           <a href="{{ url_for('cadastro', lang='pt_BR') }}">
               <img src="{{ url_for('static', filename='images/brasil.png') }}" alt="{{ _('Português') }}">
           </a><br><br>
       </div>
       <form id="cadastroForm">
           <label for="nome">{{ _('Nome') }}</label><br>
           <input type="text" id="nome" name="nome" required><br>
           <label for="email">{{ _('E-mail') }}</label><br>
           <input type="email" id="email" name="email" required><br>
           <label for="senha">{{ _('Senha') }}</label><br>
           <input type="password" id="senha" name="senha" required><br>
           <button type="submit">{{ _('Cadastrar') }}</button>
       </form>
       <p>{{ _('Já possui uma conta?') }} <a href="login">{{ _('Faça login') }}</a></p>
       <p>{{ _('Deseja voltar?') }} <a href="/">{{ _('Clique para voltar à página principal') }}</a></p>
   </div>
   <script>
       document.getElementById('cadastroForm').addEventListener('submit', async function(e) {
           e.preventDefault();
           const formData = new FormData(this);
           // faz uma requisição pra /cadastro usando o POST
           const response = await fetch('/cadastro', {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json',
               },
               // cria requisição em JSON
               body: JSON.stringify({
                   nome: formData.get('nome'),
                   login: formData.get('email'),
                   senha: formData.get('senha'),
               }),
           });
           // converte pra JSON
           const result = await response.json();

           // retorna as mensagens de sucesso e erro
           alert(result.message || result.error);
       });
   </script>
</main>
</body>
</html>