<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<main>
    <div class="container">
        <h1>Bem-vindo!</h1>
        <p>Para iniciar, selecione uma das opções:</p>
        <div class="links">
            <p><a href="/login">Fazer login</a></p>
            <p>Não tem cadastro? <a href="/cadastro">Clique aqui para se cadastrar</a></p>
            <p><a href="/alteracao">Alteração de Usuário</a></p>
        </div>
    </div>
</main>
</body>
</html>